body {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1571771894821-ce9b6c11b08e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
    font-family: "consolas";
    background-size: 100vw 100vh;
  }
  
button {
    background-color: rgb(81, 229, 255);
    color: white;
    border: 1px solid black;
    font-family: "consolas";
    font-size: 24px;
    border-radius: 10px;
}

  .game-board  {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      color: #F5E661;
      border: 6px solid #2c3e50;
      border-radius: 10px;
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }
  
  .box  {
    border: 6px solid #2c3e50;
    background-color: #EDFCE9;
    opacity: 60%;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .score {
    height: 30px;
    width: 300px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
  }

  .hidden {
      visibility: hidden;
  }
  
  .blue {
    border: 3px solid #95A9CF;
    background-color: #364371;
    color: #95A9CF;
    opacity: 100% !important;
  }
  
  .red {
    border: 3px solid #CF9595;
    color: #CF9595;
    background-color: #611212;
    opacity: 100% !important;
  }
  
  .activePlayer {
      border: 3px solid rgb(81, 229, 255) !important;
      color: rgb(81, 229, 255) !important;
  }

  .banana {
    z-index: 3;
  }
  
  .game-color {
    background-color: #EDFCE9;
    height: 300px;
    width: 300px;
    opacity: 60%;
    border-radius: 10px;
    position: absolute;
    top: 162px;
  }
  
  /* #blueScore {
    
  }
  
  #redScore {
    
  }
   */