body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "consolas";
  margin: 20px;
  background: rgba(255, 240, 10, 0.1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

table {
  width: 50vw;
  height: 50vh;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 1);
  -webkit-text-stroke: 2px rgba(0, 255, 100, 0.3);
}

#gb-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-instructions {
  background: rgba(0, 255, 100, 0.3);
  font-style: italic;
  width: fit-content;
  color: black;
  padding: 1em;
  border-radius: 5px;
  font-size: 0.9em;
  line-height: 1.5em;
  text-shadow: none;
  text-align: center;
  -webkit-text-stroke: 0px;
}

.box {
  border: 6px solid #2c3e50;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background-color: #edfce9;
  color: red;
  margin: 0;
}

.blue {
  background-color: blue !important;
}

.opponent {
  font-style: oblique;
  font-weight: bolder;
  color: black;
  background: rgba(255, 0, 0, 0.3);
  height: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: red;
}

.title {
  align-self: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.game-board {
  display: grid;
  grid-template: 5fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0;
  width: 15rem;
  justify-self: center;
  align-self: center;
}

.board-col-1 {
  grid-row: 1;
  grid-column: 1;
}

.board-col-2 {
  grid-row: 1;
  grid-column: 2;
}

.board-col-3 {
  grid-row: 1;
  grid-column: 3;
}

.btn {
  background-color: gainsboro;
  border-radius: 5%;
  text-align: center;
  width: fit-content;
  padding: 0.25rem;
  white-space: pre;
  box-shadow: 2px 2px gray;
  margin: 3px;
  align-self: center;
  justify-self: center;
  font-size: 1rem;
  font-family: inherit;
}

#start-menu {
  width: 80%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background: rgba(255, 255, 255, 0.8);
}

#root {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info-container {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}
