body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "consolas";
  margin: 20px;
}

table {
  width: 50vw;
  height: 50vh;
}

.box {
  border: 6px solid #2c3e50;
  opacity: 60%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background-color: #EDFCE9;
  color: red;
  margin: 0;
}

.blue {
  background-color: blue !important;
}

.red {
  background-color: red;
}

.title {
  align-self: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.game-board {
  display: grid;
  grid-template: 5fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0;
  width: 10rem;
  justify-self: center;
  align-self:center;
}

.board-col-1 {
  grid-row: 1;
  grid-column: 1;
}

.board-col-2 {
  grid-row: 1;
  grid-column: 2;
}

.board-col-3 {
  grid-row: 1;
  grid-column: 3;
}

.undo-btn {
  background-color: gainsboro;
  border-radius: 5%;
  text-align: center;
  width: find-content;
  box-shadow: 2px 2px gray;
  margin: 3px;
}

.undo-container {
  background-color: pink;
  padding: 5px;
}